*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    font-family: 'Roboto', sans-serif;
}

.main-menu {
    background-color: #EDFBFE;
    background-image: url("/bg-hero-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 70px 100px;
    margin-bottom: 150px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .button {
    display: block;
    text-decoration: none;
    color: #02242D;
    font-weight: 600;
    font-size: 18px;
    background-color: white;
    text-align: center;
    max-width: 250px;
    width: 250px;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 1px 1px 3px 2px rgba(96, 129, 189, 0.26);
}

.header .button:hover {
    color: #939DA6;
}

.hero-box {
    display: flex;
    align-items: center;
    column-gap: 50px;
    width: 100%;
    margin: 130px 0 100px;
}

.hero-box .hero-box-info {
    width: 40%;
}

.hero-box .hero-box-info .hero-box-title {
    color: #02242D;
    font-weight: 600;
    font-size: 48px;
    margin: 0 0 35px;
    line-height: 1.5;
}

.hero-box .hero-box-info .hero-box-description {
    color: #02242D;
    font-size: 19px;
    margin: 0 0 35px;
    line-height: 1.5;
}

.button.secondary {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    background-color: #FF51BE;
    text-align: center;
    width: 80%;
    padding: 20px;
    border-radius: 50px;
}

.button.secondary:hover {
    background-color: #FF9BDB;
}

.hero-box .hero-box-image-wrapper {
    width: 60%;
}

.hero-box .hero-box-image-wrapper .hero-box-image {
    width: 100%;
}


.hero-box-stats {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-around;
}

.hero-box-stats .stats-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-box-stats .stats-image {
    height: 40px;
    width: 50px;
}

.hero-box-stats .stats-number {
    font-size: 90px;
    font-weight: 600;
}

.hero-box-stats .stats-text {
    font-size: 24px;
    color: #939DA6;
    text-align: center;
}

.sections-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 100%;
    padding: 0 80px;
    justify-content: center;
    margin-bottom: 250px;
}

.sections-wrapper .section .section-link {
    text-decoration: none;
    width: 100%;
    padding: 50px 40px 50px 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 3px 20px 0 rgb(0, 0, 0, 0.19);
}

.sections-wrapper .section .section-decription-wrapper {
    width: 49%;
}

.sections-wrapper .section .section-decription-wrapper .section-title {
    color: #02242D;
    font-weight: 600;
    font-size: 34px;
    margin: 0 0 30px;
}

.sections-wrapper .section .section-decription-wrapper .section-description {
    color: rgb(187, 180, 180);
    font-size: 18px;
    margin: 0;
    line-height: 1.4;
}

.sections-wrapper .section .section-image-wrapper {
    width: 40%;
}

.sections-wrapper .section .section-image-wrapper .section-image {
    width: 100%;
    height: 360px;
    object-fit: contain;
    display: block;
}

.footer-wrapper {
    background-color: #00252E;
    color: white;
    padding: 150px 100px 50px;

}

.banner-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.banner {
    text-align: center;
    padding: 44px;
    background-color: white;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    border-radius: 15px;
    position: absolute;
    bottom: 72px;
    box-shadow: 0 3px 20px 0 rgb(0, 0, 0, 0.19);
}

.banner .banner-title {
    color: #02242D;
    font-weight: 600;
    font-size: 38px;
    margin: 0;
}

.footer .footer-logo path,
.footer .social-media-wrapper .social-media-item svg {
    fill: white;
}

.footer .social-media-wrapper .social-media-item svg:hover {
    fill: #FB52BF;
}

.footer .footer-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 120px;
    margin: 50px 0;
}


.footer-info .info-list-wrapper .info-list,
.footer-info .footer-navigation .navigation-list,
.footer-info .social-media-wrapper .social-media-list {
    padding-left: 0;
    margin: 0;
}

.footer-info .info-list-wrapper .info-list .info-list-item,
.footer-info .footer-navigation .navigation-list .navigation-item,
.footer-info .social-media-wrapper .social-media-list .social-media-item {
    list-style-type: none;
    display: inline;
}

.footer-info .info-list-wrapper {
    width: 32%;
}

.footer-info .info-list-wrapper .info-list {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.footer-info .info-list-wrapper .info-list .info-list-item .info-list-item-link {
    text-decoration: none;
    color: white;
    display: flex;
    column-gap: 20px;
}

.footer-info .info-list-wrapper .info-list .info-list-item img {
    height: 20px;
}

.footer-info .info-list-wrapper .info-list .info-list-item p {
    margin: 0;
    line-height: 1.4;
}

.footer-info .footer-navigation {
    width: 25%;
}

.footer-info .navigation-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.footer-info .navigation-list .navigation-item {
    width: calc(100% / 2);
}

.footer-info .navigation-list .navigation-item .navigation-item-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.footer-info .navigation-list .navigation-item .navigation-item-link:hover {
    text-decoration: underline;
}

.footer-info .social-media-wrapper .social-media-list {
    display: flex;
    justify-content: flex-start;
    column-gap: 5px;
}

.footer-info .social-media-wrapper .social-media-list .social-media-item {
    width: 40px;
}

.footer-info .social-media-wrapper .social-media-list .social-media-item .social-media-icon {
    display: block;
    width: 100%;
    height: 40px;
}

.footer .copyright {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

@media (max-width: 1190px) {
    .hero-box .hero-box-info {
        width: 50%;
    }

    .hero-box .hero-box-info .hero-box-title {
        font-size: 38px;
    }

    .hero-box .hero-box-image-wrapper {
        width: 50%;
    }

    .footer .footer-info {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-info .info-list-wrapper {
        order: 5;
        width: 45%;
    }

    .footer-info .footer-navigation {
        width: 35%;
    }

    .footer-info .navigation-list {
        justify-content: space-between;
    }

    .footer-info .navigation-list .navigation-item {
        width: 50%;
    }

    .footer-info .social-media-wrapper {
        order: -5;
    }
}

@media (max-width: 1045px) {
    .hero-box {
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }

    .hero-box .hero-box-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-box .hero-box-image-wrapper {
        width: 80%;
    }

    .sections-wrapper .section .section-link {
        padding: 40px;
    }
}

@media (max-width: 898px) {
    .header .header-logo {
        width: 180px;
    }

    .header .button.primary {
        width: 160px;
        padding: 15px 20px;
    }

    .main-menu {
        padding: 40px 30px;
    }

    .sections-wrapper {
        align-items: center;
    }

    .sections-wrapper .section {
        width: 60%;
    }

    .sections-wrapper .section .section-link {
        flex-direction: column;
        row-gap: 50px;
        width: 100%;
        text-align: center;
        padding: 80px 50px 50px;
    }

    .sections-wrapper .section .section-decription-wrapper {
        width: 100%;
    }

    .sections-wrapper .section .section-image-wrapper {
        width: 100%;
        order: -2;
    }
    .sections-wrapper .section .section-image-wrapper .section-image {
        height: 220px;
    }

    .banner .banner-title {
        font-size: 28px;
    }

    .footer .footer-info {
        flex-direction: column;
        row-gap: 50px;
    }

    .footer-info .footer-navigation {
        width: 50%;
    }

    .footer-info .info-list-wrapper {
        width: 60%;
    }

    .footer .copyright {
        justify-content: flex-start;
    }
}

@media (max-width: 701px) {
    .button.secondary {
        padding: 15px;
        font-size: 14px;
    }

    .hero-box-stats .stats-image {
        height: 30px;
        width: 40px;
    }

    .hero-box-stats .stats-number {
        font-size: 65px;
    }

    .hero-box-stats .stats-text {
        font-size: 18px;
    }

    .sections-wrapper .section {
        width: 80%;
    }

    .banner .banner-title {
        font-size: 24px;
    }

    .footer-wrapper {
        padding: 150px 50px 50px;
    }

    .footer-info .footer-navigation {
        width: 60%;
    }

    .footer-info .info-list-wrapper {
        width: 80%;
    }
}

@media (max-width: 577px) {
    .main-menu {
        margin-bottom: 80px;
        padding: 40px 0;
    }

    .hero-box {
        margin-top: 80px;
        margin-bottom: 60px;
    }

    .hero-box .hero-box-info {
        width: 100%;
    }

    .hero-box .hero-box-image-wrapper {
        width: 100%;
    }

    .hero-box-stats .stats-item {
        gap: 10px;
    }

    .hero-box-stats .stats-image {
        height: 20px;
        width: 30px;
    }

    .hero-box-stats .stats-number {
        font-size: 45px;
    }

    .hero-box-stats .stats-text {
        font-size: 14px;
    }

    .sections-wrapper .section {
        width: 100%;
    }

    .banner {
        padding: 25px;
        row-gap: 20px;
    }

    .button.secondary {
        width: 100%;
    }

    .banner .banner-title {
        font-size: 18px;
    }
}


@media (max-width: 480px) {
    .header .header-logo {
        width: 130px;
    }

    .header .button.primary {
        font-size: 14px;
        width: 110px;
        padding: 12px 19px;
    }

    .sections-wrapper {
        padding: 0;
    }

    .sections-wrapper .section .section-link {
        padding: 50px 30px 40px;
    }

    .footer-wrapper {
        padding: 150px 35px 20px;
    }

    .footer-info .navigation-list {
        flex-direction: column;
    }

    .footer-info .navigation-list .navigation-item {
        width: 100%;
    }
}
